config.version = 1 # Config language version, not version of this file
config.cxx = x86_64-w64-mingw32-g++
config.cxx.poptions = [null]
config.cxx.coptions = -std=c++23 -static -static-libgcc -static-libstdc++ -DNDEBUG -O2
config.cxx.loptions = -s
config.cxx.aoptions = [null]
config.cxx.libs = -lwinpthread -ladvapi32 -lstdc++ -lstdc++exp -luuid -lshell32 -lole32

config.bin.lib=static
